.containers .filters
{
background-color: white;
height: 70px;
width: 100%;
border: 1px #DDDDDD;
border-radius: 4px;

}

button
{
	font: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border-style: none;
	border-radius: 4px;
	align: center;
	right: 30px;
}

button 
{
	opacity: 90%;
}
